.home-container {
  display: flex;
  transition: all 0.3s ease-in-out;
  background-color: #e6e7ea;
  app-news-item {
    overflow-y: auto;
    height: 100dvh;
    width: 100dvw;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
}
